@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
.top-nav {
  height: 55px;
}
.head-icon {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}
.search-box {
  width: 500px;
}

.search-btn {
  margin-right: 100px;
}
.member-nav .member-nav-item .member-nav-link {
  margin-bottom: -3px;
  color: white;
}

.member-link {
  text-decoration: none;
  color: white;
}

a.member-link:hover {
  color: white;
}

/*.dropdown-btn-top {
  border-radius: 5px;
  width: 160px;
  margin-right: 20px;
  height: 40px;
  color: white;
}
button.dropdown-btn-top:hover {
  color: #d3d3d3;
}
.profile-img {
  width: 50px;
  height: 39px;
}
.profile-img-link {
  margin-right: 10px;
}
a.profile-img-link:hover {
  opacity: 0.8;
}*/

.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  z-index: 1;
}

.form-control-primary {
  margin: 10px;
  border-radius: 5px;
}

.sidebar {
  position: sticky;
  top: 0;
  height: calc(100vh - 70px);
  padding: 70px 0 0 10px;
  border-right: 1px solid #d3d3d3;
}

.left-sidebar {
  position: sticky;
  top: 0;
  height: calc(100vh - 70px);
}

.sidebar-nav li.sidebar-nav-item {
  padding-right: 10px;
}

.sidebar-nav li .sidebar-nav-link {
  color: #333;
  font-weight: 500;
}
.sidebar-nav li.sidebar-nav-item a.sidebar-nav-link:hover {
  background-color: #999;
  border-radius: 3px;
  color: white;
}

main {
  padding-top: 90px;
}
main .card {
  margin-bottom: 20px;
}
